body {
    font-family: arial;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
}

.feed {
    width: 600px;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 10px 20px;
    background: #fff;
}

.post__title {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
}

.post {
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 1px 4px 1px rgba(70, 69, 69, 0.57);
    border-radius: 15px;
}

.post.adver {
    border: 1px solid #fff;
    box-shadow: 2px 1px 4px 1px rgba(191, 50, 50, 0.57);
}
.post button{
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0;
}

.post.adver button{
    border: 1px solid red;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0;
}